h1 {text-align: center;
}

h3 {color: red;
}

span {  border-radius: 5px;
	border: 2px solid black;
	background-color: #009933;
	
	text-align: center;
}

a {text-decoration: none;
   text-align: center;
   color: white;
   font-family: cursive;
}
